.InfoSec{
    color: #fff;
    padding: 40px 0;
}

.InfoRow{
  display: flex;
  margin: 0 -15px -15px -15px;
  flex-wrap: wrap;
  align-items: center;
}
.InfoColumn{
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.TextWrapper{
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}

.ImgWrapper{
  max-width: 555px;
  display: flex;
  justify-content: flex-start;
}

img {
  padding-right: 0;
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  max-height: 500px;
}

.Heading {
  margin-bottom: 24px;
  text-align: right;
  font-size: 58px;
  line-height: 1.1;
  font-weight: 600;
  color: black;
}

.Subtitle {
  text-align: right;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
  color:black;
}

.button1 {
  float: right;
}